@import url('https://fonts.googleapis.com/css2? family=Raleway:wght@300&display=swap');

*{
    margin: 0px ;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 680px;
    margin: 100px auto;
    font-family: Raleway sans-serif ;
    font-size: 1.2em ;
    font-weight: light ;
    color:gray;
    
}

p{
    margin: 24px 0px;

}
#txt{
    display: inline-block;
    margin: 24px 0px;
    color: brown;
    font-weight: 700px;
    
}
nav{
    margin: 24px 0px;
}

nav a {
background-color: #222;
color:  rgb(234, 239, 243);
padding: 8px 32px;
text-decoration: none;
border-radius: 8px;
cursor: pointer;
transition: .3s;


}

nav a:hover{
    background-color: dimgrey;
    color: antiquewhite;
    
}

h2{
    color: chartreuse;
}